.body {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  color: tomato;
  background-color: antiquewhite;
  margin: auto;
}

.done {
  text-decoration: line-through;
}

#userinput{
  border-radius: 3px;
  height: 20px;
}

.listitems{
  text-align: start;
}

li{
  font-size: 1.2em;
  margin: 5px 5px 5px 5px;
}

.delete{
  padding: 3px;
  border: 1px solid tomato;
  border-radius: 5px;
  margin-left: 2em;
  background-color: tomato;
  color: white;
}

#enter{
  background-color: tomato;
  color: white;
  padding: 7px;
  border: 1px solid tomato;
  border-radius: 10px;
}