.body {
  align-content: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  color: tomato;
  margin: auto;
}

.done {
  text-decoration: line-through;
}

.listitems{
  text-align: start;
}

li{
  font-size: 1.2em;
  margin: 5px 5px 5px 5px;
}

.delete{
  padding: 3px;
  border-radius: 5px;
  margin-left: 2em;
}