.coolTitle {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  /* font-size: 40px; */
  color: tomato;
  margin: 0, auto;
}

.done {
  text-decoration: line-through;
}

.listitems{
  text-align: start;
  width: 50%;
}

.delete{
  padding: 3px;
  border-radius: 5px;
}